 * {
        margin: 0;
        padding: 0;
    }

body {
    background-color: aqua;
}
#heading {
    text-align: center;
    margin: 20px;
}
p{
    padding: 15px;
    margin-left: 200px;
   
}

#goodvibesform{
    background:white;
    background-color:#f3f3f3;
    margin-top: 40px;
    margin-bottom: 90px;
    margin-left: 170px;
    margin-right: 170PX;
    padding-left: 66px;
    padding-top: 22PX;
    border-radius: 10px;


}
.label{
    float: right;
}
.time-label{
    display: flex;
    margin-bottom: 36px;
}
.emotions-label{
    display: flex;
    margin-bottom: 70px;
   
}
.experience-label{
    display: flex;
    margin-bottom: 49px;
            
}
.field{
            
    width: 165px;
}
        
table{
    padding-left: 150px;
}
td{
    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.btn{
    font-size: 1em;
    background-color: #6ba2ce;
    color: white;
    border: 0px solid;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    margin-top: 25px;
    margin-left: 385px;
    margin-bottom: 30px;
}
.btn:hover{
     background-color: crimson;
     

}

        
